{% extends 'blog2.html' %}
{% load staticfiles %}
{% block leftsidebar %}
{% endblock %}
{% block center-block %}
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>宇航员的个人博客 <small>"直到有一天他向我跑来,叫住了我的名字, 那一刻,我漫长的等待结束了。"</small></h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="{% url 'blog' %}"><i class="zmdi zmdi-home"></i> home</a></li>
                        {% if request.user.is_authenticated %}
                    <li class="breadcrumb-item "><a href="{% url 'user_info' %}">个人空间</a></li>
                        {% endif %}
                     <li class="breadcrumb-item active">写博客</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                           <form action="" method="POST" enctype="multipart/form-data" id="blog_change_form">
                                <div class="panel-body">
                                       {% csrf_token %}
                                       {% for feild in update_form %}
                                           <div class="form-group">
                                            {% if not feild.is_hidden %}
                                            <label for="{{ feild.id_for_label }}">{{ feild.label }}:</label>
                                            {% endif %}
                                           {{ feild }}
                                           </div>
                                        {% endfor %}
                                </div>
                                <div class="panel-footer" style="margin-top: 10px">
                                    <button type="submit" class="btn btn-raised btn-primary btn-round waves-effect float-right" >完成</button>
                                    <span class="btn btn-raised btn-primary btn-round waves-effect " onclick="window.location.href='{{ return_back_href }}'">返回</span>
                                    <div class="clearfix"></div>
                                </div>
                             </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}
{% block script_area%}
<style>

#avatar-clear_id{
    display: none;
}
section.content{
    margin-left: 0px;
}
.navbar{
    width: 100%;
}
</style>
{% endblock %}